<div class="py-2 bg-primary">
  <div class="container">
    <div class="row align-items-center text-center text-md-left">

      <!-- Email - LEFT -->
      <div class="col-md-4 d-flex align-items-center justify-content-md-start justify-content-center mb-2 mb-md-0">
        <div class="icon bg-secondary mr-2 d-flex justify-content-center align-items-center">
          <span class="icon-paper-plane"></span>
        </div>
        <a href="mailto:info@mshiningstar.com" class="text-white">
          info@mshiningstar.com
        </a>
      </div>

      <!-- Phone - CENTER -->
      <div class="col-md-4 d-flex align-items-center justify-content-center mb-2 mb-md-0">
        <div class="icon bg-tertiary mr-2 d-flex justify-content-center align-items-center">
          <span class="icon-phone2"></span>
        </div>
        <a href="tel:+917208280555" class="text-white">
          +91 7208280555
        </a>
      </div>

      <!-- CTA - RIGHT -->
      <div class="col-md-4 d-flex align-items-center justify-content-md-end justify-content-center">
        <a href="#request-demo" class="btn btn-light btn-sm font-weight-bold">
          Book your free trial
        </a>
      </div>

    </div>
  </div>
</div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
      <div class="container d-flex align-items-center">
          <a class="navbar-brand" href="index.html"><img src="images/logo.jpg" alt="MShining Stars" height="90" width="100"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="index.html" class="nav-link pl-0" data-page="index">Home</a></li>
              <li class="nav-item"><a href="about.html" class="nav-link" data-page="about">About</a></li>
              <!--<li class="nav-item"><a href="teacher.html" class="nav-link">Teacher</a></li>-->
              <li class="nav-item"><a href="courses.html" class="nav-link" data-page="courses">Courses</a></li>
              <!--<li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>-->
              <!--<li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>-->
            <li class="nav-item"><a href="contactus.html" class="nav-link" data-page="contactus">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- END nav -->